/* Header */
header {
  min-height: 400px;
  max-height: 800px;
  text-align: center;
  background: no-repeat center/cover url(background202507142218.jpg);
  padding: 4em 2em;
}
  h1 {
    font-size: 3em;
    color: black;
  }
  header p {
    font-size: 1.5em;
    margin: 1.2em 0;
  }
  header button {
    font-size: 1.1em;
    background-color: floralwhite;
    border: none;
    border-radius: 5px 5px;
    padding: 0.8em 1.2em;
  }
  header button:hover {
    scale: 1.05;
    background-color: rgb(235, 230, 220)
;
  }

/* Main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 0;
  background-color: oldlace;
}
  /* Features */
  .feature {
    margin: 15px 2em;
    padding: 20px;
    min-width: 25%;
    text-align: center;
    background-color: white;
  }
  .feature:hover {
    transform: scale(1.1);
  }

/* Footer */
footer {
  padding: 2em 2em;
  background-color: mistyrose;
  text-align: center;
}